@tailwind base;
@tailwind components;

.box {
    @apply md:mx-auto p-5 mx-5 bg-slate-500 rounded-xl shadow-xl text-gray-700 max-w-screen-lg md:w-full overflow-x-auto;
}

.box > h1 {
    @apply text-white font-bold;
}

.box > h2 {
    @apply text-gray-300;
}

.box > p {
    @apply text-gray-100 text-lg md:text-xl;
}

.box__header {
    @apply text-xl md:text-2xl pb-5;
}

.box__select {
    @apply w-full p-5 text-xl md:text-2xl rounded-xl mb-5 dark:bg-slate-900 dark:disabled:bg-slate-800 dark:text-white;
}

.button {
    @apply rounded-xl w-full hover:transition-all disabled:transition-all bg-white hover:bg-gray-100 active:bg-gray-200 disabled:bg-gray-300 dark:hover:bg-slate-800 dark:active:bg-slate-700 dark:bg-slate-900 dark:disabled:bg-slate-800 dark:text-white p-3 text-black;
}

.group_info_table {
    @apply table-auto border-collapse w-full;
}

.group_info_table > tr > *:first-child {
    @apply bg-slate-600 dark:bg-slate-800;
}

.group_info_table > tr > *:last-child {
    @apply bg-slate-400 pl-5 dark:bg-slate-900;
}

.students_table {
    @apply table-auto border-collapse w-full;
}

.students_table > tr:nth-child(odd) {
    @apply bg-slate-400 dark:bg-slate-900;
}

.students_table > tr:nth-child(even) {
    @apply bg-slate-600 dark:bg-slate-800;
}

tr:first-child > th {
    @apply py-3;
}

tr {
    @apply border-b border-gray-300;
}

tr:last-child {
    @apply border-b-0;
}

tr > td:first-child {
    @apply font-semibold;
}

th {
    @apply text-left font-bold text-white text-lg md:text-xl pr-5;
}

th:first-child, td:first-child {
    @apply pl-5;
}

td {
    @apply text-white text-lg md:py-5 py-2;
}

@tailwind utilities;